{% extends "base.html" %}

{% block content %}

<h1>{{ object.title }}</h1>
<p>ISBN: {{ object.isbn }}</p>
<p>Author: {{ object.author.last_name }}  {{ object.author.first_name }}</p>

{% if object.co_authors.exists %}
    {% for co_author in object.co_authors.all %}
        <p>CoAuthor: {{ co_author.last_name }}  {{ co_author.first_name }}</p>
    {% endfor %}
{% endif %}

<p>Release date: {{ object.release_date }}</p>
{% if object.description %}
    <p>{{ object.description }}</p>
{% endif %}

<a href="{% url 'books:update' book.id %}">Update</a>
<a href="{% url 'books:delete' book.id %}">Delete</a>
{% endblock %}